<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdgc.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="hdgc.bean.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="idCard" jdbcType="VARCHAR" property="idcard" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="countyCode" jdbcType="VARCHAR" property="countycode" />
    <result column="nativeplace" jdbcType="VARCHAR" property="nativeplace" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="idcard_img" jdbcType="VARCHAR" property="idcardImg" />
    <result column="alluser_id" jdbcType="BIGINT" property="alluserId" />
    <result column="ischecked" jdbcType="BIT" property="ischecked" />
    <association property="alluser" column="alluser_id" select="hdgc.dao.AlluserMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, idCard, sex, birthday, countyCode, nativeplace, nation, idcard_img, alluser_id, 
    ischecked
  </sql>
  <select id="selectByExample" parameterType="hdgc.bean.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="hdgc.bean.UserInfoExample">
    delete from userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hdgc.bean.UserInfo">
    insert into userinfo (id, name, idCard, 
      sex, birthday, countyCode, 
      nativeplace, nation, idcard_img, 
      alluser_id, ischecked)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{countycode,jdbcType=VARCHAR}, 
      #{nativeplace,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{idcardImg,jdbcType=VARCHAR}, 
      #{alluserId,jdbcType=BIGINT}, #{ischecked,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="hdgc.bean.UserInfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="countycode != null">
        countyCode,
      </if>
      <if test="nativeplace != null">
        nativeplace,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="idcardImg != null">
        idcard_img,
      </if>
      <if test="alluserId != null">
        alluser_id,
      </if>
      <if test="ischecked != null">
        ischecked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="countycode != null">
        #{countycode,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg != null">
        #{idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="alluserId != null">
        #{alluserId,jdbcType=BIGINT},
      </if>
      <if test="ischecked != null">
        #{ischecked,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hdgc.bean.UserInfoExample" resultType="java.lang.Long">
    select count(*) from userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update userinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.countycode != null">
        countyCode = #{record.countycode,jdbcType=VARCHAR},
      </if>
      <if test="record.nativeplace != null">
        nativeplace = #{record.nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null">
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardImg != null">
        idcard_img = #{record.idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="record.alluserId != null">
        alluser_id = #{record.alluserId,jdbcType=BIGINT},
      </if>
      <if test="record.ischecked != null">
        ischecked = #{record.ischecked,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update userinfo
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      idCard = #{record.idcard,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      countyCode = #{record.countycode,jdbcType=VARCHAR},
      nativeplace = #{record.nativeplace,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=VARCHAR},
      idcard_img = #{record.idcardImg,jdbcType=VARCHAR},
      alluser_id = #{record.alluserId,jdbcType=BIGINT},
      ischecked = #{record.ischecked,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hdgc.bean.UserInfo">
    update userinfo
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="countycode != null">
        countyCode = #{countycode,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        nativeplace = #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="idcardImg != null">
        idcard_img = #{idcardImg,jdbcType=VARCHAR},
      </if>
      <if test="alluserId != null">
        alluser_id = #{alluserId,jdbcType=BIGINT},
      </if>
      <if test="ischecked != null">
        ischecked = #{ischecked,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hdgc.bean.UserInfo">
    update userinfo
    set name = #{name,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      countyCode = #{countycode,jdbcType=VARCHAR},
      nativeplace = #{nativeplace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      idcard_img = #{idcardImg,jdbcType=VARCHAR},
      alluser_id = #{alluserId,jdbcType=BIGINT},
      ischecked = #{ischecked,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>